/* Common */

* {
  box-sizing: border-box;
}

html {
  font-family: "Baloo 2", cursive;
  line-height: 1.5;
  color: #444444;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  font-size: inherit;
}

hr {
  width: 50%;
  margin: 2rem auto;
  border: solid #cccccc;
  border-width: 1px 0 0 0;
}

.link,
.link:visited {
  position: relative;
  color: #116eee;
  text-decoration: none;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-top: 0px solid transparent;
  transform: skewX(-10deg);
  transition: width 150ms ease-in-out, border 150ms ease-in-out;
}

.link:hover::after,
.link:active::after,
.link:focus::after {
  width: 100%;
  border-top: 3px solid #116eee;
}

/* Layout */

.brand {
  position: sticky;
  z-index: 2;
  top: 0;
  padding: 0.5rem 1rem;
  background-color: #116eee;
  color: #ffffff;
  font-size: 1.5rem;
}

.flag {
  position: fixed;
  z-index: 3;
  top: 21px;
  right: -110px;
  width: 300px;
  padding: 0.5rem 0;
  text-align: center;
  transform: rotate(45deg);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  border: 1px solid #222222;
  background-color: #333333;
  color: #11ee92;
}

.header {
  position: relative;
  z-index: 1;
  padding: 3rem 1rem 4rem 1rem;
  background-color: #116eee;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
}

.header .highlight {
  color: #11ee92;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 640px;
  margin: 3rem auto;
  padding: 0 1rem;
}

.column-left,
.column-right {
  flex-basis: 50%;
  padding: 0 1.5rem;
}

@media (max-width: 640px) {
  .column-right {
    margin-top: 2rem;
  }
}

@media (min-width: 641px) {
  .column {
    display: flex;
  }
}

.banner {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  left: 25%;
  right: 25%;
}

.banner::before {
  top: 0;
  border-top: 1px solid #dddddd;
  box-shadow: 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.05);
}

.banner::after {
  bottom: 0;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}

.box {
  padding: 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid #dddddd;
  border-left: 0.25rem solid rgba(17, 110, 238, 0.5);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right top;
  background-origin: content-box;
  background-size: 3rem 3rem;
  transition: transform 400ms ease-in-out, background-color 400ms ease-in-out, box-shadow 400ms ease-in-out;
}

.box:hover {
  transform: translateY(-0.2rem);
  background-color: #ffffff;
  box-shadow: 0 0.5rem 2.5rem -2rem rgba(0, 0, 0, 0.8);
}

.box > p + p {
  margin-top: 0.25rem;
}

.box.time {
  background-image: url(./images/clock-solid.svg);
}

.box.location {
  background-image: url(./images/map-marker-alt-solid.svg);
}

.box.remote {
  background-image: url(./images/desktop-solid.svg);
}

/* Content */

.title {
  line-height: 1.25em;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(17, 110, 238, 0.75);
}

.paragraph {
  margin-bottom: 1.5rem;
}

.center {
  text-align: center;
}

.font-size-bigger {
  font-size: 1.25rem;
}

.highlight {
  color: #116eee;
}

.tel {
  position: relative;
  display: inline-block;
  margin-top: 1.5rem;
  margin-left: 1.75em; /* same as below */
  line-height: 1.25em;
  font-size: 2rem;
}

.tel::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.75em; /* same as above */
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  background: #116eee url(./images/phone-alt-solid.svg) center center no-repeat;
  background-size: 1.25rem 1.25rem;
}

@media (min-width: 520px) {
  .visible-sm {
    display: none;
  }
}

@media (min-width: 840px) {
  .visible-lg {
    display: none;
  }
}
