/* ---- Common ---- */

* {
  box-sizing: border-box;
}

html {
  font-family: "Baloo 2", cursive;
  line-height: 1.5;
  color: #444444;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  font-size: inherit;
}

hr {
  margin: 2rem auto;
  border: solid #cccccc;
  border-width: 1px 0 0 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote {
  margin: 0;
}

button {
  outline: none;
  padding: 0;
  border: none;
  background: none;
  line-height: inherit;
  font: inherit;
}

.link,
.link:visited {
  position: relative;
  color: #116eee;
  text-decoration: none;
  cursor: pointer;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-top: 0px solid transparent;
  transform: skewX(-10deg);
  transition: width 150ms ease-in-out, border 150ms ease-in-out;
}

.link:hover::after,
.link:active::after,
.link:focus::after {
  width: 100%;
  border-top: 3px solid #116eee;
}

.button {
  border-radius: 99px;
  padding: 0.75rem 1.5rem;
  border: 2px solid #116eee;
  background-color: #116eee;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 150ms ease, color 150ms ease;
}

.button:hover {
  background-color: #ffffff;
  color: #116eee;
}

/* ---- Layout ---- */

.brand {
  position: sticky;
  z-index: 3;
  top: 0;
  padding: 0.5rem 1rem;
  background-color: #116eee;
  color: #ffffff;
  font-size: 1.5rem;
}

.flag {
  position: fixed;
  z-index: 4;
  top: 20px;
  right: -109px;
  width: 300px;
  padding: 0.5rem 0;
  text-align: center;
  transform: rotate(45deg);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  border: 1px solid #222222;
  background-color: #333333;
  color: #11ee92;
}

.header {
  position: relative;
  z-index: 2;
  padding: 3rem 1rem 4rem 1rem;
  background-color: #116eee;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
}

.header .highlight {
  color: #11ee92;
}

.appear {
  animation: appearAnim 2s ease-out;
}

.reveal {
  overflow: hidden;
}

.reveal__item {
  display: block;
  animation: revealAnim 2s ease-out;
}

@keyframes appearAnim {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes revealAnim {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  90% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.container {
  position: relative;
  z-index: 1;
  max-width: 720px;
  margin: 3rem auto;
  padding: 0 1rem;
}

.container--no-space {
  margin: 0 auto;
  padding: 0;
}

.column-left,
.column-right {
  padding: 0 1rem;
}

@media (max-width: 640px) {
  .column-right {
    margin-top: 2rem;
  }
}

@media (min-width: 641px) {
  .column {
    display: flex;
    justify-content: space-around;
  }
}

.message {
  overflow: hidden;
  padding: 1.5rem;
  border-bottom: 1px solid #ddb1b0;
  background-color: #ffcccb;
  color: #ba6b6c;
  text-align: center;
  font-size: 1.125rem;
}

.message > .container {
  animation: messageAnim 1.5s ease-out;
}

.message > .container > img {
  display: block;
  margin: 0 auto 0.5rem auto;
}

@media (max-width: 839px) {
  .message {
    text-align: justify;
  }
}

@keyframes messageAnim {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0rem);
  }
}

.banner {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  left: 25%;
  right: 25%;
}

.banner::before {
  top: 0;
  border-top: 1px solid #eeeeee;
  box-shadow: 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.07);
}

.banner::after {
  bottom: 0;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.14);
}

.box {
  padding: 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid #dddddd;
  border-left: 0.25rem solid rgba(17, 110, 238, 0.5);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right top;
  background-origin: content-box;
  background-size: 3rem 3rem;
  transition: transform 400ms ease-in-out, background-color 400ms ease-in-out,
    box-shadow 400ms ease-in-out;
}

.box:hover {
  transform: translateY(-0.2rem);
  background-color: #ffffff;
  box-shadow: 0 0.5rem 2.5rem -2rem rgba(0, 0, 0, 0.8);
}

.box > p + p {
  margin-top: 0.25rem;
}

.box.time {
  background-image: url(./images/clock-solid.svg);
}

.box.location {
  background-image: url(./images/map-marker-alt-solid.svg);
}

.box.remote {
  background-image: url(./images/desktop-solid.svg);
}

.box.question {
  background-image: url(./images/lightbulb-solid.svg);
}

/* ---- Content ---- */

@media (min-width: 640px) {
  .visible-sm {
    display: none;
  }
}

@media (max-width: 639px) {
  .visible-not-sm {
    display: none;
  }
}

@media (min-width: 840px) {
  .visible-lg {
    display: none;
  }
}

@media (max-width: 839px) {
  .visible-xl {
    display: none;
  }
}

.title {
  line-height: 1.25em;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(17, 110, 238, 0.75);
}

.paragraph {
  margin-bottom: 1.5rem;
}

.paragraph--margin-large {
  margin-bottom: 3rem;
}

.center {
  text-align: center;
}

.font-size-md {
  font-size: 1.125rem;
}

.font-size-lg {
  font-size: 1.25rem;
}

.highlight {
  color: #116eee;
}

.list-item {
  position: relative;
  padding-left: 1.25rem;
}

.list-item::before {
  content: "✓";
  position: absolute;
  left: 0;
  color: #116eee;
  padding-right: 0.25rem;
}

.list-item + .list-item {
  margin-top: 0.33rem;
}

.tel {
  position: relative;
  display: inline-block;
  margin-top: 1.5rem;
  margin-left: 1.75em; /* same as below */
  line-height: 1.25em;
  font-size: 2rem;
}

.tel::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.75em; /* same as above */
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  background: #116eee url(./images/phone-alt-solid.svg) center center no-repeat;
  background-size: 1.25rem 1.25rem;
  animation: pulseAnim 2s infinite;
}

@keyframes pulseAnim {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(17, 110, 238, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(17, 110, 238, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(17, 110, 238, 0);
  }
}

.reviews-wrapper {
  border-top: 1px solid rgba(17, 110, 238, 0.2);
  background-image: 
    linear-gradient(rgba(17, 110, 238, 0.05) 0%, rgba(17, 110, 238, 0) 100%),
    linear-gradient(rgba(17, 110, 238, 0.05) 0rem, rgba(17, 110, 238, 0) 0.5rem);
}

.reviews-wrapper > .container {
  margin-top: 1.5rem;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
}

.review {
  padding: 0 0.75rem 1.5rem 0.75rem;
}

@media (min-width: 640px) {
  .review {
    flex-basis: 50%;
  }
}

@media (min-width: 960px) {
  .review {
    flex-basis: 33.333333333%;
  }
}

.review-content {
  position: relative;
  height: 100%;
  box-shadow: 2px 2px 1px rgba(17, 110, 238, 0.05);
  border-radius: 2px;
  border: 1px solid rgba(17, 110, 238, 0.2);
  background-color: #ffffff;
  padding: 1rem;

  background: #ffffff url(./images/quote-right-solid.svg) right top no-repeat;
  background-origin: content-box;
  background-size: 1.5rem 1.5rem;
}

.review-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;

  border-top-color: rgba(17, 110, 238, 0.2);
  top: 100%;
  left: 2rem;
}

.review-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 9px solid transparent;

  border-top-color: #ffffff;
  top: -10px;
  left: -9px;
}

.review-author {
  display: block;
  font-weight: 500;
  color: rgba(17, 110, 238, 0.75);
}
